body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #0C1B2B; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #120f2d;
    padding: 15px 30px;
    height: 40px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.logo img {
    height: 60px;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: solid #0C1B2B;

    /* transition: color 0.3s, border 0.3s; */
}

.nav-links a:hover {
    /* color: orange; */
    border: solid #2878eb;
    /* padding: 8px 13px; */
}
